<div class="jumbotron">
    <h1>DotNetUtility</h1>
    <p class="lead">.NET实用工具集，目前包含生成缩略图、导出Excel工具</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Image工具</h2>
        <p>
            基于GDI+的图像处理帮助类，主要是创建缩略图
        </p>
        <p>
            @Html.ActionLink("Learn more »", "Index", "Image", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-6">
        <h2>Office工具</h2>
        <p>使用NPOI操作Office文件，主要是处理读写、导入、导出电子表格</p>
        <p>@Html.ActionLink("Learn more »", "Index", "Office", null, new { @class = "btn btn-default" })</p>
    </div>
</div>